@font-face {
	font-family: 'Korolev Heavy';
	src: url('../fonts/Korolev Heavy.otf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Korolev Bold';
	src: url('../fonts/Korolev Bold.otf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Korolev Medium';
	src: url('../fonts/Korolev Medium.otf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Korolev Light';
	src: url('../fonts/Korolev Light.otf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Korolev Thin';
	src: url('../fonts/Korolev Thin.otf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

h1 {
	font-family:'Korolev Heavy', sans-serif;
	font-size:3em;
}
h2 {
	font-family:'Korolev Light', sans-serif;
	font-size:3em;
}
/* h3 { */
/* 	font-family:'Korolev Medium', sans-serif; */
/* 	font-size:3em; */
/* } */
/* h4 { */
/* 	font-family:'Korolev Light', sans-serif; */
/* 	font-size:3em; */
/* } */
/* h5 { */
/* 	font-family:'Korolev Thin', sans-serif; */
/* 	font-size:3em; */
/* } */
