@font-face {
  font-family: 'Korolev Heavy';
  src: url("../fonts/Korolev Heavy.otf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Korolev Bold';
  src: url("../fonts/Korolev Bold.otf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Korolev Medium';
  src: url("../fonts/Korolev Medium.otf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Korolev Light';
  src: url("../fonts/Korolev Light.otf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Korolev Thin';
  src: url("../fonts/Korolev Thin.otf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/* @font-face{font-family: 'HiraKakuPro W3'; */
/* 			src: url('../fonts/HiraKakuPro W3.otf') format('truetype'); */
/* 			font-weight: normal; */
/* 			font-style: normal} */
/* @font-face{font-family: 'HiraKakuPro W6'; */
/* 			src: url('../fonts/HiraKakuPro W6.otf') format('truetype'); */
/* 			font-weight: normal; */
/* 			font-style: normal} */
body {
  background-image: url("../img/Serpentin.png") no-repeat center; }

#content {
  width: 1024px;
  height: 975px;
  margin: 0 auto;
  position: relative; }

#header {
  width: 100%;
  height: 167px; }

#logo {
  float: left;
  margin-left: 84px;
  background-image: url("../img/Logo_and_variante/Logo-equal-site.png");
  width: 265px;
  height: 170px; }

#logo:hover {
  background-image: url("../img/Logo_and_variante/Logo-equal-site-aligne-tire-bouchon.png"); }

#logo.couteau {
  background-image: url("../img/Logo_and_variante/Logo-equal-site-aligne-couteau.png"); }

#langues {
  float: right;
  width: 147px;
  height: 71px;
  margin-top: 44px;
  margin-right: 45px;
  background: url("../img/Menu_langue/double_fleche.png") no-repeat center top; }

#langueleft, #langueright {
  margin-top: 38px; }

#langueleft {
  float: left;
  margin-left: 4px; }

#languecenter {
  float: left;
  margin-top: 34px; }

#langueright {
  float: right;
  margin-right: 5px; }

#langueleft:hover, #langueright:hover {
  padding-bottom: 7px;
  border-bottom: 4px solid #000; }

.en #langueright:hover, .fr #langueright:hover {
  padding-bottom: 2px; }

.en #langueleft, .jp #langueleft {
  width: 21px;
  height: 22px;
  background: url("../img/Menu_langue/langueFR.png") no-repeat left top; }

.fr #languecenter {
  width: 38px;
  height: 33px;
  margin-left: 23px;
  background: url("../img/Menu_langue/langueFRbig.png") no-repeat center top; }

.en #languecenter {
  width: 38px;
  height: 33px;
  margin-left: 28px;
  background: url("../img/Menu_langue/langueENbig.png") no-repeat center top; }

.jp #languecenter {
  width: 38px;
  height: 33px;
  margin-left: 27px;
  background: url("../img/Menu_langue/langueJPbig.png") no-repeat center top; }

.fr #langueleft, .jp #langueright {
  width: 29px;
  height: 22px;
  background: url("../img/Menu_langue/langueEN.png") no-repeat right top; }

.fr #langueright, .en #langueright {
  width: 32px;
  height: 27px;
  background: url("../img/Menu_langue/langueJP.png") no-repeat right top; }

#content2 {
  width: 100%;
  height: 680px;
  background: url("../img/Serpentin.png") no-repeat center top;
  position: absolute;
  margin-top: -680px; }

#text {
  float: left;
  position: relative;
  width: 700px;
  top: 60px;
  left: 84px; }

#text #foldable span {
  cursor: move;
  padding-top: 6px; }

#text h1 span, #text h2 span, #right span {
  padding: 1px 5px;
  background: #fff;
  color: #000; }

#text h1 {
  font-family: 'Korolev Bold', sans-serif;
  font-size: 2.5em;
  line-height: 1.35em;
  letter-spacing: -0.045em; }

.jp #text h1 {
  /* font-family:'HiraKakuPro W6', sans-serif; */
  font-size: 2.38em; }

#text h2 {
  font-family: 'Korolev Medium', sans-serif;
  font-size: 0.9em;
  line-height: 1.77em;
  margin-left: 0; }

#text #titlebar {
  float: left;
  width: 100%;
  height: 28px; }

#text #toggle {
  float: left;
  width: 39px;
  height: 39px;
  margin-bottom: 3px;
  background: url("../img/Croix/Haute.png") no-repeat left top; }

#text #toggle:hover {
  background-image: url("../img/Croix/Basse.png"); }

#text #toggle.closed {
  background-image: url("../img/Croix/Hautelat.png"); }

#text #toggle.closed:hover {
  background-image: url("../img/Croix/Basselat.png"); }

.links {
  float: left;
  position: absolute;
  bottom: 2.3em;
  left: 84px; }

.links a {
  margin-right: 0.82em;
  padding: 0.3em 0.4375em 0;
  font-family: 'Korolev Medium', sans-serif;
  font-size: 0.769em;
  background-color: #fff;
  color: #000;
  text-decoration: none;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000; }

.links a#partners, .links a#press, .links a#faq {
  margin-right: 1.5em; }

.links a:active {
  margin-left: 1px;
  margin-top: 1px;
  border: 0; }

#right {
  float: right;
  position: absolute;
  bottom: 5.2em;
  right: 2em;
  width: 255px; }

#right span {
  font-family: 'Korolev Medium', sans-serif;
  font-size: 0.71em;
  padding-top: 1px;
  padding-bottom: 0; }

#newsletter form {
  padding-top: 2px; }

#newsletter span {
  width: 95%;
  float: left;
  font-size: 0.79em; }

.jp #newsletter span {
  font-size: 1.17em;
  margin-bottom: 2px; }

#newsletter #mce-EMAIL, #newsletter #ok {
  font-family: 'Korolev Bold', sans-serif; }

#newsletter #mce-EMAIL {
  border: #000 1px solid;
  background: #fff;
  width: 245px;
  padding: 3px;
  line-height: 1.5em;
  z-index: 1; }

::-webkit-input-placeholder {
  color: #999;
  font-family: 'Korolev Light', sans-serif; }

:-moz-placeholder {
  color: #999;
  font-family: 'Korolev Light', sans-serif; }

:-ms-input-placeholder {
  color: #999;
  font-family: 'Korolev Light', sans-serif; }

#newsletter #ok {
  border: 0;
  background: transparent;
  font-size: 1.2em;
  z-index: 2;
  float: right;
  position: relative;
  margin-top: -1.4em; }

#social {
  margin-top: 1em; }

#social span {
  float: left;
  text-align: center;
  width: 112px;
  padding-left: 2px;
  padding-right: 2px;
  font-size: 0.73em; }

.jp #social span {
  font-size: 0.58em;
  width: 142px; }

#social a {
  float: left;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.6em;
  margin-left: 1.28em;
  padding-left: 1px;
  background: #fff;
  color: #000;
  -webkit-box-shadow: 1px 1px 0 0 #000;
  box-shadow: 1px 1px 0 0 #000; }

#social a:first-child {
  margin-left: 0; }

#social a:active {
  -webkit-box-shadow: 0 0 0 0 transparent;
  box-shadow: 0 0 0 0 transparent; }

#right #contact {
  float: right;
  margin-right: 2px;
  width: 43px;
  margin-top: 1em; }

#right #contact:hover {
  box-shadow: 2px 2px 0 0 #000;
  -webkit-box-shadow: 2px 2px 0 0 #000; }

#right #contact {
  text-align: center; }

#right #contact a {
  color: #000;
  text-decoration: none; }

.jp #right #contact {
  font-size: 0.6em;
  padding: 1px;
  width: 51px; }

#background {
  position: relative;
  top: -25px;
  z-index: -1; }

/* POPUP */
.modal {
  position: absolute;
  background: #fff;
  border: 2px solid #000;
  padding: 1em;
  width: 38em;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto; }
  .modal h1 {
    font-family: 'Korolev Medium',sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 3em;
    margin-bottom: 0; }
  .modal .content * {
    font-family: 'Korolev light', sans-serif;
    font-size: 19px;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto; }
  .modal aside {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 2px solid;
    max-height: 80%;
    left: 10%;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    top: 10em;
    width: 12em;
    padding: 1em 2em 1em 1em;
    /* { */
    /* 	font-size:1em; */
    /* 	font-family:'Korolev Medium',sans-serif; */
    /* } */ }
    .modal aside h3, .modal aside ol, .modal aside a {
      margin: 0;
      padding-top: 0; }
    .modal aside ol {
      padding-left: 1em; }
    .modal aside ol li {
      font-size: 1em;
      margin: 0;
      padding-top: 1em;
      font-family: 'Korolev Medium',sans-serif; }
    .modal aside li ol li {
      font-size: 1em;
      padding-top: 0;
      font-family: 'Korolev Light',sans-serif; }
    .modal aside a * {
      display: inline; }
    .modal aside a:hover * {
      border-bottom: 2px solid #ff0;
      margin-bottom: -2px; }
    .modal aside a {
      color: #000;
      text-decoration: none; }
    .modal aside p {
      font-size: 0.8em;
      font-family: 'Korolev Light',sans-serif; }
  .modal .content {
    overflow: auto;
    padding: 0 16%;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto; }
    .modal .content h2 {
      font-family: 'Korolev Medium',sans-serif;
      font-size: 2.8em;
      margin-bottom: 0; }
    .modal .content h3 {
      font-family: 'Korolev Light',sans-serif;
      font-size: 2.1em;
      margin: 1em 0 0; }
    .modal .content h3 em {
      font-size: 1em; }
    .modal .content p {
      margin: 0; }
    .modal .content a {
      font-family: 'Korolev Light',sans-serif;
      color: #000;
      display: block;
      padding-top: 1em; }
  .modal .about h3 {
    margin: 0; }
  .modal .contact p {
    margin-top: 1em;
    line-height: 1.2em; }
  .modal .contact em {
    font-family: 'Korolev Medium',sans-serif;
    font-size: 2em;
    font-style: normal;
    line-height: 1em; }
    .modal .contact em a {
      font-size: 1em; }
  .modal .contact a {
    display: inline;
    padding-top: 0; }
  .modal .cgu {
    padding: 0 3%; }
    .modal .cgu * {
      font-size: 1em; }
  .modal .faq {
    padding: 0 3%; }
    .modal .faq ol, .modal .faq ul {
      margin: 0; }
    .modal .faq ul {
      padding-left: 0;
      margin-left: -2em; }
    .modal .faq ul ul {
      margin-left: 1em; }
    .modal .faq li {
      font-family: 'Korolev Medium',sans-serif; }
    .modal .faq ul li {
      list-style: none; }
    .modal .faq h2 {
      font-size: 1em; }
    .modal .faq h3 {
      font-size: 1em; }
    .modal .faq h4 {
      font-size: 1em;
      margin: 0; }
    .modal .faq p {
      font-size: 16px; }

.close-modal {
  border: 2px solid #FFFF00;
  -webkit-border-radius: 59px;
  -moz-border-radius: 59px;
  -o-border-radius: 59px;
  -ms-border-radius: 59px;
  border-radius: 59px;
  color: #000000;
  display: block;
  font-size: 6em;
  height: 0.6em;
  line-height: 0.821em;
  position: absolute;
  right: 0.07em;
  text-decoration: none;
  top: 0.07em;
  width: 0.6em;
  font-family: 'Korolev Thin',sans-serif;
  text-align: center; }

.modal-spinner {
  display: none;
  width: 64px;
  height: 64px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-right: -32px;
  margin-top: -32px;
  background: url(spinner.gif) #111111 no-repeat center center;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px; }

/* END OF POPUP */
