<h1>À propos</h1>
<div class="content about">
<p>YUMMYGUEST.COM est le fruit de la curiosité insatiable et de la joyeuse gourmandise des YUMMYTIGRES :</p>

<h2>Juliette Le Moine,</h2>
<h3>a.k.a Big Tiger, fondatrice, directrice créative & stratégie.</h3>
<p>Juliette est designer. Elle aime autant les objets et observer la vie des gens que goûter tout ce qui est 
comestible et étrange. Elle a traversé l'Europe en stop quelques jours avant de passer son bac, fait le tour de l'Islande (toujours en stop), sillonné le Cambodge à moto, remonté l'Argentine et descendu le Chili en bus... Et rêve à son prochain voyage.
  <br>
<a href="mailto:juliette@yummyguest.com">juliette@yummyguest.com</a></p>

<h2>Isaac Réveillaud,</h2>
<h3>co-fondateur, développement business.</h3>
<p>Isaac a étudié le droit des finances, passé de longs mois à explorer l'Asie du Sud-Est en tongs. Une de ses activités préférées est la découverte des cafés de Cracovie, Stockholm, Vienne et partout ailleurs.
  <br>
<a href="mailto:isaac@yummyguest.com">isaac@yummyguest.com</a></p>

<h2>Paul Gillet,</h2>
<h3>co-fondateur, partenariats & RP.</h3>
<p>Paul est rentré d'un voyage de deux ans autour du monde en famille juste à point pour sauter à pieds joints dans YUMMYGUEST.COM! 
  <br>
<a href="mailto:paul@yummyguest.com">paul@yummyguest.com</a></p>

<h2>Gwenhael Le Moine,</h2>
<h3>co-fondateur, super développeur web, CTO.</h3>
<p>Gwenhael est revenu en France il y a peu l'estomac pimenté par six heureuses années à Hanoï, où il a trouvé l'amour et développé une addiction au café viêtnamien. 
  <br>
<a href="mailto:gwenhael@yummyguest.com">gwenhael@yummyguest.com</a></p>

<h2>William Jean,</h2>
<h3>brillantissime graphiste et conseiller es vitamines et minéraux.</h3>
<p>William partage son temps entre plongeons dans la Mediterranée, bicyclette dans les rues de Paris, et découverte de tout ce qui se mange et rend notre corps heureux et sain. 
  <br>
<a href="mailto:contact@williamjean.com">contact@williamjean.com</a></p>

<p>(Ces cinq joyeux drilles ont la manie de collectionner les images de tigres, d'où leur féline 
appellation.)</p>
</div>
