<h1>Conditions Générales d'Utilisation de YummYGuest.com</h1>
<div class="content cgu">
<p>Dernière mise à jour : 15 mars 2013</p>

<p>Vous êtes actuellement connecté au site internet de YummYGuest. </p>

<p>Les présentes Conditions Générales d’utilisation (« CGU ») décrivent les conditions et modalités de mise en relation entre les Membres inscrits sur le Site dans le but d’organiser un ou plusieurs Repas.</p>

<p>Les présentes CGU sont conclues entre les Utilisateurs et la Société YummYGuest en cours de formation, domiciliée à la Couveuse GEAI, 18 rue du Faubourg du Temple, 75011 Paris – SIRET 433 545 357 00025, (ci-après «YummYGuest»).</p>

<ol>
<li>Préambule</li>
<ol><li>Définitions</li>
<ul>
<li>« YummYGuest » : désigne la Société éditant les services de mise en relation proposés sur le site internet www.yummyguest.com. </li>
<li>« Utilisateur » : désigne toute personne qui visite le Site et/ou utilise le Site et/ou les Services proposés.</li>
<li>« Site » : désigne sans distinction le site internet www.yummyguest.com et plus généralement tout site internet et application mobile édité ou co-édité par YummYGuest ou encore tout site internet reprenant avec l'autorisation de YummYGuest les informations publiées sur le site qui précède et proposant des services similaires.</li>
<li>« Service » : désigne tout service proposé par le Site à un Membre, étant précisé que YummYGuest n'est jamais partie au contrat entre l’Hôte et le Client.</li>
<li>« Repas » : désigne une offre de service proposée par l’Hôte consistant à recevoir le Client moyennant une somme d'argent déterminée à l'avance, pour un type de repas, un lieu et un horaire définis. L’Hôte peut recevoir chez lui ou dans tout lieu où il a un accès légal pour lui et son Client.</li>
<li>« Repas avec Réservation » : désigne un Repas soumis aux conditions du paragraphe 2 des présentes CGU.</li>
<li>« Participation aux Frais » : somme d'argent demandée par l’Hôte et acceptée par le Client pour partager un Repas correspondant à sa participation aux frais d’organisation et achat de matières premières nécessaires au bon déroulement du Repas.</li>
<li>« Membre » : désigne indistinctement l’Hôte ou le Client ayant accepté les présentes Conditions Générales d'Utilisation et utilisant le site en tant qu’Hôte ou Client. Les Membres sont seuls décisionnaires de la concrétisation d’un Repas.</li>
<li>« Hôte » : désigne la personne proposant un Repas sur le Site.</li>
<li>« Client » <pourquoi pas le terme « Invité ? »> : désigne la personne ayant accepté la proposition de l’Hôte.</li>
<li>« Compte » : désigne le compte qui doit être créé pour pouvoir devenir Membre et accéder aux services proposés par le Site.</li>
<li>« CGU » : désigne les présentes Conditions Générales d'Utilisation.</li>
<li>« Cookie » : désigne un petit fichier d'informations qu'un site Internet peut envoyer sur le disque dur d'un ordinateur personnel pour ensuite en retrouver la trace. Certains services du Site utilisent, pour leur bon fonctionnement, des cookies temporaires et requièrent l'acceptation par l'Utilisateur de ces cookies. Si le navigateur de l'ordinateur personnel de l'Utilisateur est configuré pour les refuser, les services pourraient lui être inaccessibles. L'Utilisateur peut désactiver les cookies ou les supprimer en utilisant les options de son navigateur.</li>
</ul>
<li>Champs d’application</li>

<p>Les présentes CGU s’appliquent à tout utilisateur du Site. L’accès à ce site, l’utilisation de celui-ci, de son application mobile ainsi que des services proposés, implique l’acceptation pleine et sans réserve des présentes CGU.</p>

<p>Lors de votre inscription en tant que Membres de YummYGuest, vous reconnaissez avoir lu, compris et accepté l’ensemble des présentes CGU. Si vous n’acceptez pas nos CGU, vous ne pourrez pas utiliser notre Site ni les Services proposés par YummYGuest.</p>

<p>L’utilisation du Site, de l’Application et des Services YummYGuest est exclusivement réservée au personnes physiques âgés d’au moins 18 ans et ayant la capacité juridique de souscrire des contrats, au sens du droit français. Les Hôtes et Clients déclarent, en conséquence, être âgés de plus de 18 ans.</p>

<li>Modifications des CGU</li>

<p>YummYGuest se réserve le droit de modifier à tout moment les CGU, les fonctionnalités offertes sur le site, l’Application ou les règles de fonctionnement du Service. YummYGuest se réserve notamment le droit de proposer des services nouveaux, gratuits ou payants sur le Site. Sauf mention expresse contraire, les modifications sont effectives dès leur mise en ligne sur le site et s’appliqueront aux Membres qui n’auront pas encore procédé au paiement sur la plateforme monétique.</p>
</ol>
<li>Utilisation du Service et du Site</li>
<li>Utilisation du Service </li>

<p>Une consultation partielle des informations et des contenus publiés par YummYGuest est possible même si vous n’êtes pas Membre. Cependant, si vous voulez proposer ou réserver un Repas, vous devez préalablement créer un Compte YummYGuest (défini ci-dessous).</p>

<li>Compte Membre YummYGuest</li>
<ol>
<li>Pour accéder à l’ensemble des contenus et réserver un Repas auprès de Membres de YummYGuest, il est nécessaire de devenir Membre et d’accepter l’ensemble des présentes CGU.</li>

<li>La création d’un Compte Membre consiste à renseigner un formulaire en ligne par des informations facultatives et des informations identifiées comme obligatoires, dont une adresse électronique valide et strictement personnelle et un mot de passe de son choix, et accepter les Conditions Générales d’Utilisation pour valider la procédure de création.</li>

<p>En créant son compte, l’Utilisateur déclare et garantit la Société YummYGuest qu’il remplit les conditions d’utilisation du Site, que les informations données sont exactes, complètes et à jour, qu’il a pris connaissance des présentes Conditions Générales d’Utilisation, qu’il en respectera les termes ainsi que les lois et règlements en vigueur.</p>

<p>En acceptant les CGU, vous acceptez que les informations fournies au moment de l'inscription soient publiées sur les sites de YummYGuest.</p>

<p>Tout Membre s’engage à ne créer qu’un seul Compte et à n’utiliser que son propre Compte.</p>

<li>L’inscription peut se réaliser soit directement sur le Site soit via un compte tiers depuis certains réseaux sociaux tels que Facebook, Twitter ou Pinterest (« Compte Tiers »).</li>

<p>L’inscription via un Compte Tiers a pour but de faciliter l’inscription d’un Membre sur le Site. </p>

<p>En autorisant YummYGuest à accéder à votre Compte Tiers, vous acceptez également que YummYGuest ait accès à tout contenu que vous avez fourni et stocké sur votre Compte Tiers, le stocke sur ses serveurs, l’utilise en vue du bon fonctionnement du Site et le rende disponible sur et par le biais du Site et de l’Application via votre Compte et votre page de Membre YummYGuest.</p>

<p>La relation entre le réseau social tiers associé à votre Compte YummYGuest est régie uniquement par votre accord avec ledit réseau social. YummYGuest ne consultera jamais aucun contenu issu d’un réseau social tiers afin de vérifier son exactitude, sa légalité et YummYGuest n’est responsable d’aucun contenu issu d’un réseau social tiers.</p>

<p>À moins que les présentes Conditions n’indiquent le contraire les contenus de votre Compte Tiers sont considérés comme contenus de Compte Membre YummYGuest et régis par les présentes CGU.</p>

<p>Veuillez noter que si un Compte Tiers ou un service associé devient indisponible ou que l’accès de YummYGuest à ce Compte Tiers est résilié par un fournisseur tiers, les contenus enregistrés via le réseau social ne seront plus disponibles sur et par le biais du Site et de l’Application.</p>

<li>A tout moment, vous pouvez clôturer votre Compte Membre en vous rendant dans la section « Paramètres » du Site et de l’Application. </li>

<p>En cas de manquement du Membre à une stipulation des présentes CGU, la Société YummYGuest peut lui adresser, par tout moyen à sa convenance, une mise en demeure de remédier à ce manquement. Dans cette attente, la Société YummYGuest peut suspendre son Compte à titre conservatoire.</p>

<p>Faute pour le Membre de remédier au manquement qui lui est reproché dans un délai de quinze jours à compter de la date de première présentation de la mise en demeure, la Société YummYGuest peut clôturer le Compte de plein droit et sans formalité.</p>

<p>La Société YummYGuest peut également clôturer le compte du Membre sans mise en demeure préalable, de plein droit et sans formalité en cas de manquement grave ou répété du Membre à une stipulation des présentes CGU et en cas de non-connexion pendant une période de douze mois.</p>

<p>La Société YummYGuest informe le Membre, par tout moyen à sa convenance, de la clôture de son Compte.</p>

<p>La clôture du Compte du Membre n’ouvre droit à aucune indemnité au profit de celui-ci.</p>
</ol>
<li>Utilisation du Site</li>
<ol>
<li>Tout Utilisateur et tout Membre s’engage à ne pas poster, télécharger, publier, soumettre ou transmettre tout contenu qui : </li>
<p>est faux, erroné, frauduleux, trompeur ou ambigu ; </p>
<p>porte atteinte ou encourage toute conduite qui enfreindrait toute loi ou réglementation applicable ou qui entraînerait une responsabilité civile ; </p>
<p>est diffamatoire, obscène, pornographique, vulgaire ou offensif, contraire aux bonnes mœurs ;</p>
<p>incite à la discrimination, au fanatisme, au racisme, à la haine, à l’agression ou aux exactions contre un individu ou un groupe ; </p>
<p>est violent ou menaçant envers toute personne ou encourage les activités ou l’usage de substances illégales ou dangereuses.</p>

<li>En acceptant les CGU, le Membre concède à titre gratuit à YummYGuest le droit de reproduire sur d'autres sites édités ou co-édités par YummYGuest ou sites partenaires, toute information figurant sur le Site ou sur des sites partenaires, en particulier, le contenu des annonces publiées (textes, image, photographies, logos, illustrations, données).</li>

<li>Le site peut contenir des cookies. Ceux-ci ont pour objectif de rechercher l'intérêt des utilisateurs sur certains sujets. Ces cookies sont utilisés pour assister l'utilisateur dans la recherche d'une information appropriée et pour l'adapter à son besoin spécifique. L'utilisateur est libre de refuser ces cookies en configurant son système en conséquence. Cependant, en refusant les cookies, l'utilisateur peut se priver de l'accès à certaines pages ou à certaines fonctionnalités du site.</li>
</ol>
<li>Réservation de Repas</li>

<p>Tout Membre peut être à la fois Hôte et Client.</p>

<p>La réservation du Repas se fait en ligne.</p>

<p>Le Client intéressé par un Repas formule une demande de réservation de Repas auprès de l’Hôte  en précisant au minimum le lieu, la date et le nombre de personnes (Client inclus).</p>

<p>Le Client reçoit alors un e-mail de confirmation d’envoi de la demande de réservation. </p>

<p>Le Client accepte que la réservation ne soit pas garantie. L’Hôte dispose en effet de 24 heures à compter de la demande de réservation pour la confirmer ou la refuser. </p>
<p>Confirmation : Après acceptation par l’Hôte, le Client reçoit un e-mail l’invitant à confirmer sa Réservation de Repas en procédant au paiement via la plateforme monétique, des frais de participation préalablement demandés sur le Site par l’Hôte incluant les frais de gestion de YummYGuest et de transaction, et fonction du nombre de personnes pour lequel le Client réserve.</p>

<p>Une fois le paiement réalisé, le Client reçoit un e-mail de confirmation indiquant le montant de l’opération, ainsi que les données nécessaires pour se rendre chez son Hôte.</p>

<p>Refus : Si 24 heures après la demande de Réservation de Repas l’Hôte n’a pas répondu, ou bien l’Hôte a formulé une réponse de refus, la demande de Réservation est annulée, et le Client en est informé par e-mail.</p>


<li>Conditions financières</li>
<ol>
<li>YummYGuest ne se porte garant d’aucun Membre.</li>

<li>L’Hôte fixe librement le montant de la Participation aux Frais du Repas. </li>

<p>Les montants affichés sur le Site et l’Application YummYGuest sont exprimés TTC (toutes taxes comprises) et en devise du pays de l’Hôte.</p>

<p>Ces montants comprennent le montant de la Participation aux Frais du Repas proposé par l’Hôte majoré d’un pourcentage qui correspond aux frais de gestion de YummYguest ainsi qu’aux frais de transaction.</p>

<li>YummYGuest facture la totalité du montant au Client qui l’accepte, puis reverse à l’Hôte le montant de la Participation aux Frais du Repas 24 heures après la réalisation du Repas.</li>

<p>Paiement de l’Hôte :</p>
<p>Le paiement de la Participation aux frais de Repas a lieu 24 heures après la date et l’heure prévu pour la réalisation du Repas ;</p>

<p>Ce paiement se fait au choix de l’Hôte : </p>
<p>soit par virement sur le compte bancaire de l’Hôte, </p>
<p>soit sur la carte bancaire de l’Hôte, </p>
<p>soit sur le compte PayPal dont l’Hôte est détenteur. </p>

<li>Devises étrangères :  </li>

<p>La devise dans laquelle le Client sera facturé sera déterminée par YummYGuest en fonction de la méthode de paiement qu’il choisira et du lieu où sera réalisé le Repas.</p>

<p>Si la devise dans laquelle le Client est facturé diffère de la devise choisie par l’Hôte pour ses paiements, YummYGuest prendra en charge le traitement de la conversion de devises requise ainsi que les frais y afférents qui seront calculés sur la base du taux de change des devises le plus récent à la date et à l’heure de la confirmation de la  réservation (le « Taux de change applicable »). Vous reconnaissez que le Taux de change applicable utilisé pour la conversion des devises peut ne pas être identique au taux du marché applicable au moment précis où ladite conversion est effectuée dans la mesure où, bien que YummYGuest mette à jour le Taux de change applicable régulièrement, ce taux n’est pas mis à jour en temps réel et que le Taux de change applicable peut comporter un coût différentiel ou une marge qui ne sont pas inclus dans le taux du marché applicable. </p>

<p>Aux fins de clarification, YummYGuest assumera toutes les pertes et conservera tous les profits résultant de ladite conversion en fonction des changements du taux de change des devises applicable entre la date de la confirmation de votre réservation et la date où YummYGuest effectuera le paiement à un Hôte.</p>


<li>Hôtes et Clients sont seuls responsables des renseignements bancaires qu’ils fournissent à YummYGuest.</li>

<li>Les Membres s’engagent à respecter et se mettre en conformité avec l’ensemble des lois et réglementation en vigueur, et plus particulièrement les lois fiscales applicables sur les territoires ou Etats desquels ils sont redevables.</li>

</ol>
<li>Frais en cas d’annulation</li>

<p>En cas d’annulation par le Client :</p>

<p>Si la demande d’annulation intervient au moins 48 heures avant la date et l’heure du Repas réservé :</p>
<p>le Client est remboursé à hauteur de 70% du montant global du Repas ;</p>
<p>10% de ce montant global est versé à l’Hôte ;</p>
<p>20% est versé à YummYGuest au titre des frais de transaction engagés.</p>

<p>Si la demande d’annulation intervient moins de 48 heures avant le Repas, les frais engagés par le Client ne sont pas remboursables.</p>

<p>En cas d’annulation par l’Hôte, quelque soit le moment : le Client est remboursé de 100% des frais qu’il a engagés.</p>
</ol>

<li>Protection des données personnelles</li>

<p>YummYGuest s’engage à respecter la confidentialité des données personnelles communiquées par ses Membres sur le Site et à les traiter dans le respect de la loi n°78-17 Informatique et Libertés du 6 janvier 1978 et la loi n° 2004-575 sur la confiance dans l'économie numérique du 21 juin 2004. </p>

<p>YummYGuest informe ses Membres que leurs données seront utilisées par ses services internes et/ou ceux de ses partenaires qui prennent toutes précautions utiles afin de préserver, dans la mesure du possible, la sécurité des données, en vue de : </p>
<p>leur proposer une utilisation personnalisée et optimale du Site ;</p>
<p>réaliser des enquêtes de satisfaction ;</p>
<p>répondre à une injonction des autorités légales.</p>

<p>Par ailleurs, YummYGuest rappelle que si le Membre venait à changer d’avis, il peut à tout moment exercer son droit d’accès à son fichier, d’opposition, de rectification ou de suppression des renseignements le concernant en adressant sa demande :</p>
<p>par courrier électronique à l’adresse suivante : help@yummyguest.com</p>
<p>ou en se rendant sur le Site à la rubrique « Mon compte/ Mes informations personnelles»</p>
<p>ou par courrier postal à l’adresse suivante : YummYGuest - Couveuse GEAI, 18 rue du Faubourg du Temple, 75011 Paris.</p>

<p>YummYGuest a déclaré le Site auprès de la CNIL sous le numéro 1634081.</p>

<p>Pour toute information complémentaire sur la protection des données personnelles, vous pouvez consulter le site de la CNIL à l'adresse suivante : http://www.cnil.fr.</p>
<li>Responsabilité</li>

<p>Le Site a offre un Service de mise en relation entre ses Membres.</p>

<p>YummYGuest n’intervient pas dans la transaction entre l’Hôte et le Client.</p>

<p>En conséquence, YummYGuest ne peut contrôler et n’exerce aucun contrôle sur la véracité ou l’exactitude, la légalité ou la pertinance du contenu des annonces, lla capacité de l’Hôte à réaliser le Repas ni la qualité du Repas, ni le prix fixé par l’Hôte. YummYGuest ne peut pas non plus assurer que l’Hôte réalisera le Repas. Toutefois, dès la notification de l’acceptation de la réservation, il est rappelé aux Membres que les dispositions de la loi française s’appliquent.</p>

<p>A ce titre YummYGuest ne peut être tenu responsable :</p>
<p>du contenu des annonces, plus particulièrement de la communication par l’Hôte d'informations erronées concernant le Repas et ses modalités ; </p>
<p>de la qualité des Repas, des conditions d’accueil et comportements des Membres et Utilisateurs, qui agissent sous leur seule et entière responsabilité.</p>
<p>de l'annulation du Repas par l’Hôte ou le Client ;</p>
<p>du comportement frauduleux ou de la faute d’un Utilisateur, d’un Hôte ou Client pendant, avant, ou après le Repas.</p>

<p>YummYGuest ne peut pas garantir un accès continu et sécurisé à ses Site et Services dans la mesure où leur bon fonctionnement peut être affecté par de nombreux facteurs que YummYGuest ne contrôle pas, notamment en cas d'utilisation frauduleuse d'instruments de paiement ou des systèmes de paiement.</p>

<p>Par ailleurs, YummYGuest s'efforce d'assurer la disponibilité du Site et du Service 24 heures sur 24, et 7 jours sur 7. Cependant, il peut arriver que l'accès au site ou au service soit interrompu dans le cadre d'opérations de maintenance, de mise à niveau matérielles ou logicielles, de réparations d'urgence du site, ou par suite de circonstances indépendantes de la volonté de YummYGuest (comme par exemple, la défaillance des liaisons et équipements de télécommunications). YummYGuest s'engage à prendre toutes les mesures raisonnables pour limiter ces perturbations, pour autant qu'elles lui soient imputables.</p>

<p>En conséquence, les Membres reconnaissent et acceptent que YummYGuest ne peut être tenue responsable de tous préjudices directs et indirects de toute nature y compris financier, résultant de ou liés à l’utilisation de ses Sites et Services.</p>

<p>Sans préjudice des dispositions ci-dessus, si YummYGuest devait être tenue responsable par une juridiction compétente, sa responsabilité ne pourrait excéder le montant des Frais de Participation au Repas.</p>


<li>Propriété intellectuelle</li>

<p>Tout élément (texte, image, photographie, logos, dessuns, bases de données, codes, logiciels, etc.) contenus sur le Site et les sites associés est la propriété exclusive de la Société YummYGuest et est protégé par les lois françaises et internationales relatives à la propriété intellectuelle. </p>

<p>Toute reproduction totale ou partielle est strictement interdite sans autorisation préalable. Le non respect de cette interdiction est constitutif d’un acte de contrefaçon répréhensible tant civilement que pénalement.</p>


<li>Droit applicable – Preuve - Litiges </li>

<p>Les présentes Conditions Générales d’Utilisation sont régies par le droit français. </p>

<p>En cas de litige entre un Utilisateur et YummYGuest, nous vous encourageons à nous contacter en premier lieu pour rechercher une solution amiable via l’adresse électronique help@yummyguest.com. A défaut de solution amiable, toute réclamation ou litige entre un Utilisateur et YummYGuest sera porté devant les tribunaux du siège de la Société YummYGuest, savoir, les tribunaux de PARIS. </p>

<p>Pour tout renseignement, informations complémentaires ou précisions, écrire à l’adresse : help@yummyguest.com</p>

</ol>
</div>