<h1>Contact</h1>
<div class="content contact">

<p><em>Paul</em> est le roi du repas de fête et s'occupe des Relations Presse.
  <br>
<a href="mailto:paul@yummyguest.com">paul@yummyguest.com</a></p>

<p><em>Isaac</em> maîtrise le pique-nique de salon sur le bout des doigts et gère le Dévelopement Commercial et les Partenariats.
  <br>
<a href="mailto:isaac@yummyguest.com">isaac@yummyguest.com</a></p>

<p><em>Juliette</em> prépare des supers goûters et prends les Grandes Décisions
  <br>
<a href="mailto:juliette@yummyguest.com">juliette@yummyguest.com</a></p>
<br>
<em>Questions techniques ?</em><br>
<em>Besoin d'aide ?</em><br>
<em>Consultez les <a href="ajax/faq.fr.html" rel="modal:open" id="faq">FaQ</a> !</em>
<p>Si votre réponse n'y est pas, vite, un email à
<a href="mailto:hello@yummyguest.fr">hello@yummyguest.fr</a></p>

<p>Pour nous envoyer des bonnes idées, des suggestions, des mots d'amour, c'est aussi là.</p>
</div>
