<h1>Foire Aux Questions</h1>
<aside class="toc">
  <ol>
	<li><a href="#1"><h2>Yummyguest<br>(l'entreprise)</h2></a>
	  <ol>
		<li><a href="#1.1"><h3>concept</h3></a>
		</li>
		<li><a href="#1.2"><h3>fonctionnement</h3></a>
		</li>	
		<li><a href="#1.3"><h3>sécurité & garanties</h3></a>
		</li>
	  </ol>
	</li>
	<li><a href="#2"><h2>YummyFriends<br>(la communauté)</h2></a>
	  <ol>
		<li><a href="#2.1"><h3>Hôtes</h3></a>
		</li>
		<li><a href="#2.2"><h3>Visiteurs</h3></a>
		</li>
	  </ol>
	</li>
  </ol>
  <p>Les FaQs risquent fort d'avoir à évoluer au fur et à mesure de nos expériences...<p>
</aside>
<div class="content faq">
  <ol>
	<li><a id="1"><h2>Yummyguest (l'entreprise)</h2></a>
	  <ol>
		<li><a id="1.1"><h3>concept</h3></a>
		  <ul>
			<li><a id="1.1.1"><h4>YummyGuest.com ? Mais qu'est-ce que c'est?</h4></a>
			  <p>YUMMYGUEST.COM , c'est un site internet qui ouvre les portes pour aller manger chez l'habitant. 
				On choisit un lieu, une ambiance, une personne, un type de nourriture... 
				Ensuite on achète un repas pour provoquer une rencontre et partager un moment avec des personnes que l'on n'aurait pas pu rencontrer autrement.
			  </p>
			</li>

			<li><a id="1.1.2"><h4>YUMMYGUEST? C'est quoi ce nom?</h4></a>
			  <p>YUMMY signifie MIAM en anglais, et GUEST invité. 
				Nous avons choisit ce nom pour sa sonorité bondissante et pétillante, sa signification pleine de gourmandise et prometteuse de rencontre..
				Et aussi parce qu'on s'est rendu compte que chaque personne y projette quelque chose et le prononce à sa façon: 
				you my guest (toi mon invité), youmi guest (comme un mot japonisant), yeummy guest (comme "miam!" + "invité" en anglais )...
				Et vous, YUMMYGUEST.COM vous fait penser à quoi?
			  </p>
			</li>
		  </ul>
		</li>

		<li><a id="1.2"><h3>fonctionnement</h3></a>
		  <ul>
			<li><a id="1.2.1"><h4>YUMMYGUEST.COM , comment ça fonctionne?</h4></a>
			  <p>
				mode d'emploi en bédé
			  </p>
			</li>

			<li><a id="1.2.2"><h4>Parmi les langues proposées, je peux choisir "yahourt". Où se situe la Yahourtie? Où prendre des cours de yahourt?</h4></a>
			  <p>
				Vous chantez sous la douche? Vous parlez probablement couramment le yahourt.
				Vous avez déjà demandé votre chemin en anglais à une dame thaïlandaise dans le quartier coréen de Buenos Aires?
				Partagé un voyage en ascenseur avec une famille de norvégiens perdus dans Paris?
				Vous parlez yahourt!
				Parfois en voyage, les plus belles rencontres sont des histoires "sans paroles"... Ou plutôt des histoires en yahourt.
				Parler yahourt c'est facile: 
				Prenez votre plus grand sourire. 
				Ajoutez toutes les langues que vous connaissez, même juste un peu. 
				Saupoudrez de sons évocateurs (brrroooum pour la voiture, miaou pour le chat, etc). 
				Ajoutez quelques mouvements de mime et une louche de petits dessins sur un bout de nappe.
				Touillez, mélangez, mixez. Parlez, écoutez votre interlocuteur vous répondre en yahourt, riez...
				Le repas s'est bien passé, vous vous êtes amusés, et pas besoin de diplômes: vous êtes yahourtophone!
			  </p>
			</li>

			<li><a id="1.2.3"><h4>Et si on n'a rien à se dire?</h4></a>
			  <p>
				Vous avez déjà remarqué comme le meilleur endroit d'une fête est toujours la cuisine?
				Comme manger une blanquette chez des amis vous rappelle celle de votre mamie, 
				comme on est curieux de découvrir comment un Japonais prépare son riz, 
				d'où vient cette étrange épice...? La bouche pleine, on a toujours quelque chose à raconter!
			  </p>
			</li>
			
			<li><a id="1.2.4"><h4>Les notes sont données en tigres... Pourquoi?</h4></a>
			  <p>Parce qu'un tigre, c'est fort comme un piment mexicain, doux comme une barbapapa, beau comme une salade de papaye, et rayé comme un cake marbré. 
			  </p>
			</li>
			
			<li><a id="1.2.5"><h4>Combien de temps dois-je prévoir pour un yummyrepas?</h4></a>
			  <p>En général, nous avons compté 2 heures par repas. 
				Si vous prévoyez un peu moins de temps (pas moins d'1h30 cependant!), signalez le au moment de l'organisation du repas.
			  </p>
			</li>
			
			<li><a id="1.2.6"><h4>Pour recevoir, est-ce que je dois forcément être un expert des fourneaux?</h4></a>
			  <p>Haha, pas d'inquiétude, c'est loin d'être le cas de tous les yummytigres, nous avons pensé à tous!
				(>> clic renvoyant à Je ne sais pas cuisiner, mais le principe de yummyguest.com me plaît! Est-ce que je peux quand même participer à l'aventure..? )
			  </p>
			</li>
			
			<li><a id="1.2.7"><h4>La réservation instantanée, comment ça marche?</h4></a>
			  <p>Par défaut, la réservation se fait "à la demande" -mais vous avez aussi la possibilité d'ouvrir votre calendrier à la réservation instantanée..
				Seuls les YummyFriends-visiteurs expérimentés ont accès à ce mode de réservation. Ainsi, vous êtes sûrs que la/les personnes qui réserveront chez vous "en instantané" sont des yummyfriends sympathiques, agréables et dont les valeurs de base sont les nôtres (ouverture, curiosité, gourmandise, joie et partage).
				Lorsque vous êtes ouverts à la "réservation instantanée", la personne intéressée par votre profil réserve son repas directement. Pas besoin d'approuver la transaction au préalable. Le YummyFriend-visiteur règle immédiatement son repas en ligne et vous êtes informé de sa venue aussitôt. 
				Attention, pour utiliser cette option, vous devez vraiment être absolument disponible! Choisissez bien vos périodes de disponibilité instantanée. Profitez d'un week-end calme par exemple, ou une période de vacances où vous choisissez de faire venir l'aventure à vous plutôt que de partir en voyage.
			  </p>
			</li>
			
			<li><a id="1.2.8"><h4>Je n'ai pas accès à la réservation instantanée, pourquoi?</h4></a>
			  <p>Seuls les YummyFriends expérimentés ont accès à la réservation instantanée. 
				Pour être un YummyFriend expérimenté, il faut avoir participé à au moins un yummyrepas et avoir obtenu plus de quatres tigres (cf "les notes sont données en tigres, pourquoi?". 
				Grâce à ce système, lorsque vous ouvrez votre table à la réservation instantanée, vous acceptez la surprise de la rencontre sereinement
				parce que vous êtes sûr qu'elle sera agréable: une personne au moins en aura dit du bien!
			  </p>
			</li>
			
			<li><a id="1.2.9"><h4>types de repas</h4></a>
			  <ul>
				<li><a id="1.2.9.1"><h5>Qu'est-ce qu'un "pique-nique de salon"?</h5></a>
				  <p>Le pique-nique de salon, c'est comme un pique-nique au parc, mais avec votre maison à la place du parc.
					Et attention, pique-nique n'est pas synonyme de cheap.
					Pour un pique-nique de salon vous pouvez cuisiner vos fameux choux à la crème, faire une ribambelle de canapés avec une tapenade faite maison, servir un assortiment de petits veloutés... Quand on adore recevoir et qu'on ne maîtrise pas tout à fait le vol-au-vent maison ou la pintade farcie aux œufs de carpe, c'est aussi une excellente solution. Une sélection de fromages, du bon pain, quelques pommes et une bonne bouteille: c'est parti! 
					Un brunch peut aussi être qualifié de "pique-nique de salon", ou un apéro dînatoire par exemple... Un pique-nique, c'est moins formel qu'un repas à table, mais ça peut être tout aussi délicieux.
				  </p>
				</li>
				
				<li><a id="1.2.9.2"><h5>Qu'est-ce qu'un repas "comme à la maison"?</h5></a>
				  <p>L'idée du repas comme à la maison, c'est par exemple le pot au feu dont vous avez le secret, ou la soupe Tom Kha Kaï. En général c'est un repas à table, qui ressemble au repas familial traditionnel. Un brunch sera plus considéré comme un "pique-nique de salon", tandis qu'une raclette tombera dans la catégorie "comme à la maison"!
				  </p>
				</li>
				
				<li><a id="1.2.9.3"><h5>Qu'est-ce qu'un "repas de fête"?</h5></a>
				  <p>Un "repas de fête", c'est un repas éblouissant. ça peut donc être ce qui se rapproche le plus du repas gastronomique. Les papilles de vos invités mettront des jours à se remettre.
					Mais aussi un repas constitué de mets simples et bons, très joliment présentés. Une belle table qui suit un thème, un repas exceptionnel.
				  </p>
				</li>
			  </ul>
			</li>
		  </ul>
		</li>	
		<li><a id="1.3"><h3>sécurité & garanties</h3></a>
		  <ul>
			<li><a id="1.3.1"><h4>Qui a accès à mes données personnelles?</h4></a>
			  <p>Nous adhérons à la CNIL et gardons vos données personnelles bien au chaud dans notre coffre-fort à nous. Il n'y a que nous qui y avons accès! Et vous, si vous le souhaitez.
			  </p>
			</li>
			
			<li><a id="1.3.2"><h4>Les transactions sont-elles bien sécurisées? Comment être sûr que ma transaction a bien eu lieu?</h4></a>
			  <p>Nous utilisons PayPal, qui est un système de paiement extrêmement sûr et qui a fait ses preuves. En cas de doute, contactez nous au plus vite!
			  </p>
			</li>
			
			<li><a id="1.3.3"><h4>J'ai réservé un repas mais je ne pourrai pas m'y présenter, puis-je être remboursé? Puis-je garder ma réservation pour une autre date?</h4></a>
			  <p>À nos yeux, rien ne peut être plus important qu'un repas chez un YummyFriend! 
				Même pas une attaque par une Moussaka Géante, ou un enlèvement par les Martiens. 
				En effet, vos YummyFriends ont peut-être déjà tout préparé et vont être obligés de manger tout le repas tout seul si vous ne vous présentez pas. Bon d'accord, ils pourraient aussi congeler des choses, voire inviter leurs voisins, mais on préfère la version qui vous fait le plus culpabiliser. Imaginez: Un saladier de mousse au chocolat pour eux tout seul! Les pauvres.
				Si ce n'est pas vraiment une "dernière minute" mais un peu plus tôt que ça, contactez vos YummyFriends et voyez avec eux si le repas peut être déplacé à un autre moment. Mais ce ne sera peut-être pas possible. Pour savoir si vous pouvez être remboursé, reportez vous à nos CGU:
				"Frais en cas d’annulation par le Client :
				
				Si la demande d’annulation intervient au moins 48 heures avant la date et l’heure du Repas réservé, le Client est remboursé à hauteur de 70% du montant global du Repas (Participation aux frais du Repas demandé par l’Hôte, ainsi que la commission perçue par YummYGuest). 10% de ce montant global est reversé à l’Hôte, 20% est reversé à YummYGuest au titre des frais de transaction engagés.
				Si la demande d’annulation intervient moins de 48 heures avant le Repas, les frais engagés par le Client sont non-remboursable

				Frais en cas d’annulation par l’Hôte, le Client est remboursé de 100% des frais qu’il a engagés."
			  </p>
			</li>

		  </ul>
		</li>

	  </ol>
	</li>
	<li><a id="2"><h2>YummyFriends (la communauté)</h2></a>
	  <ol>
		<li><a id="2.1"><h3>Hôtes</h3></a>
		  <ul>
			<li><a id="2.1.1"><h4>Je ne sais pas cuisiner, mais le principe de yummyguest.com me plaît! Est-ce que je peux quand même participer à l'aventure..?</h4></a>
			  <p>Bien sûr! Chez YUMMYGUEST.COM, nous pensons que la curiosité est votre "défaut" le plus précieux. 
				Nous estimons aussi que la sincérité est plus importante que la virtuosité. 
				Ce qui nous importe, c'est de vous permettre de vivre un beau moment de découverte et de partage, une vraie rencontre, un beau moment de convivialité.
				C'est pourquoi nous avons créé trois types de repas: pique-nique de salon, comme à la maison, et repas de fête.
				Pour les moins doués en cuisine, le pique-nique de salon est idéal: Vous pouvez proposer un plateau de fromages accompagné de vin et de bon pain,
				une salade toute simple et des fruits de saison, ou même un panaché de confitures de votre oncle Ursule avec une sélection des meilleures viennoiseries de votre boulangerie préférée...
				Vous voyez, vous commencez déjà à avoir des idées!
			  </p>
			</li>
			
			<li><a id="2.1.2"><h4>J'adore le concept de YUMMYGUEST.COM mais chez moi c'est tout petit, je ne peux recevoir personne...</h4></a>
			  <p>Le but du yummyrepas est de vivre un moment agréable! La curiosité est le plus beau des défauts, et puis quand on partage, on a deux fois plus, haha.
				Vous pouvez refaire le monde dans une maison de poupée, échanger des grandes idées installés dans des petits espaces...
				En fait Juliette, la fondatrice de YUMMYGUEST.COM , "collectionne" les petits espaces. En livres, en images, et aussi pour y vivre elle-même.
				Chez elle, vous dînerez dans la plus petite maison de Paris -et pourtant l'ambiance est toujours délicieuse et les sourires immenses.
			  </p>
			</li>
			
			<li><a id="2.1.3"><h4>J'aime recevoir, mais mon emploi du temps est bien rempli. Est-ce que je peux choisir mes dates de disponibilité?</h4></a>
			  <p>Absolument! Votre calendrier propose une réservation "à la demande" par défaut. 
				. Si quelqu'un a envie de venir manger chez vous, il/elle vous envoie une demande pour tant de personnes, à telle date, à telle heure. 
				Vous pouvez répondre oui ou non, poser plus de question avant de répondre, ou encore proposer une autre date ou un horaire différent.
				. Si vous savez que vous ne serez pas disponible ou absent durant un laps de temps, vous pouvez bloquer cette période sur votre calendrier. 
				Votre profil sera toujours visible, mais la réservation impossible pour la période signalée comme indisponible.
				. Si vous êtes très disponible au contraire, vous pouvez accepter la réservation instantanée. (Pour en savoir plus sur la réservation instantanée, voir la rubrique idoine)
			  </p>
			</li>
			
			<li><a id="2.1.4"><h4>Est-ce que je suis obligée d'avoir un loft / une maison de ville / un duplex pour entrer dans le fabuleux monde de yummyguest.com ?</h4></a>
			  <p>Bien sûr! Yummyguest.com est exclusivement réservé aux riches et aux chanceux.... Vous y avez cru? On vous a bien eu!
				Chez Yummyguest.com  il n'y a que des chanceux, ça c'est vrai, (la preuve, vous êtes là!) mais on sait aussi que les riches ne sont pas forcément ceux qui en ont l'air. 
				On sait tous que les meilleurs moments sont constitués de partage et de belles personnes. Votre sourire rendra votre salon bien plus accueillant que n'importe quel lustre en cristal!
				Quelques fleurs, une ou deux bougies, votre musique préférée ou un peu d'huile essentielle de cannelier (enfin nous on aime bien!) embelliront n'importe quel espace, même petit, même sans luxe aucun. Le luxe, c'est vous.
			  </p>
			</li>
			
			<li><a id="2.1.5"><h4>Dois-je donner mes coordonnées précises?</h4></a>
			  <p>Lors de votre inscription, oui -mais elles restent absolument confidentielles. 
				Nous en avons besoin pour vous géolocaliser, et aussi être sûr que vous êtes une vraie personne.
				Lors de l'organisation d'un YummyRepas, une fois le rendez-vous fixé, vous pouvez choisir: 
				Vos YummyFriends obtiennent vos coordonnées directes ou un lieu de rendez-vous à proximité de chez vous, que vous aurez défini au préalable. 
			  </p>
			</li>
			
			<li><a id="2.1.6"><h4>Je suis prête à ouvrir mon chez-moi! ... Un dernier truc: Comment être sûr des yummyfriends qui s'invitent chez moi?</h4></a>
			  <p>Cool! Vous êtes prêts à recevoir des futurs yummyfriends à manger chez vous et ils ont faim? C'est super! 
				La première fois, comme pour une blind date, c'est normal d'être un peu intimidé...
				Voici ce que nous avons mis en place pour que tout se passe à merveille:
				-Les textes de présentations des yummyfriends sont là pour vous donner une idée de qui ils sont. C'est pour ça que nous conseillons d'en écrire pas mal sur vous: Plus on en saura, meilleure sera l'idée qu'on se fait de vous -et ça marche pour les deux parties.
				Avant d'accepter une demande:
				-Vous avez la possibilité de poser des questions pour en savoir plus.
				-Consultez la note de votre YummyFriend. Chez nous ce sont des tigres: plus il y en a, plus la note est bonne! 
				Une fois le rendez-vous fixé: 
				Vous pouvez choisir de communiquer vos coordonnées directement, 
				ou de donner un lieu de rendez-vous (défini au préalable) à proximité de chez vous.
				ça vous laisse une petite marge de manœuvre pour partir en courant si votre YummyFriend est trop effrayant haha!
				(Rassurez-vous, ça n'est encore jamais arrivé :-) )
			  </p>
			</li>
			
			<li><a id="2.1.7"><h4>L'option "un rendez-vous ailleurs" c'est quoi?</h4></a>
			  <p>Lors de l'organisation d'un YummyRepas, une fois le rendez-vous fixé, vous pouvez choisir: 
				Vos YummyFriends obtiennent vos coordonnées directes ou un lieu de rendez-vous à proximité de chez vous, que vous aurez défini au préalable. 
				Il peut s'agir du bar en bas de chez vous, ou de la bouche de métro la plus proche par exemple. 
			  </p>
			</li>
			
			<li><a id="2.1.8"><h4>J'ai accepté une réservation mais personne n'est venu, que fais-je?</h4></a>
			  <p>Zut alors, quel dommage, ça sent tellement bon et la table est si jolie... 
				Contactez-nous au plus vite! 
				Vous recevrez le montant des repas comme si vos Yummyfriends s'étaient présentés.
				Vous avez ensuite la possibilité de les contacter via votre messagerie pour connaître la raison du lapin qu'ils vous ont posé. Peut-être se sont-ils perdus dans la ville, peut-être ont-ils confondu les jours, ou peut-être encore qu'ils se sont fait enlever par les Martiens (c'est l'explication la plus plausible selon nous)..? Grâce au système de notation, et seulement si vous pensez qu'ils le méritent vraiment, vous pouvez leur enlever un "tigre" (oui, chez nous on note en tigre, on vous donne l'explication scientifique de ce fait étonnant ici!).
				Et puis bien sûr, appelez vos meilleurs amis et voisins préférés, et invitez-les ce soir!
			  </p>
			</li>
			
			<li><a id="2.1.9"><h4>J'ai accepté une réservation et j'ai un empêchement de dernière minute, puis-je annuler?</h4></a>
			  <p>À nos yeux, rien ne peut être plus important qu'un repas chez un YummyFriend. Mais bien sûr nous savons que parfois la vie ne nous facilite pas les choses. 
				Comme dans tous réseaux, l'ingrédient le plus important chez YUMMYGUEST.COM , c'est la confiance. 
				Afin de garder la confiance de vos YummyFriends, contactez les au plus vite pour les informer de votre absence. Vous pouvez les joindre par la messagerie de votre compte.
				Vos YummyFriends ayant déjà organisé leur emploi du temps et payé leur repas, ils seront forcément un peu déçus. Si vous vous excusez et leur expliquez (on vous demande pas un mot d'excuse, juste un petit mot gentil pour qu'ils sachent que vous ne le faites pas pour les embêter!) ils auront peut-être envie de reprogrammer un repas avec vous bientôt? 
			  </p>
			</li>
			
			<li><a id="2.1.10"><h4>Comment mettre un prix sur mes repas?</h4></a>
			  <p>L'idée est de vous enrichir... Humainement! Gardez à l'esprit que l'important reste la rencontre et le partage. Parce que "quand on partage, on a deux fois plus"! Deux fois plus d'amis, d'idées, de bons plans... Sur yummyguest.com , chacun est libre de fixer son prix comme il l'entend. 
				Pour tarifier son repas, le plus simple est de calculer à combien vous revient un repas quand vous avez des invités.
				- La dernière crêpes-party avec vos deux meilleures amies? Pas de chichis! Vos confitures préférées made by Mamie, quelques pommes bios en quartiers et des chips de légumes pour la bonne conscience (ahem...): C'était un "pique-nique de salon". Tout ça vous est revenu à ... euros.
				- Quand vous avez invité les nouveaux voisins à goûter votre fameuse blanquette (celle qui tue, avec la gousse de vanille marinée dans le lait...), c'était un repas "comme à la maison". La viande, le lait, la gousse de vanille, la belle nappe en lin repassée... Tout ça a coûté ... euros. 
				- Le repas d'amoureux de votre dernière Saint Valentin? C'était un "repas de fête", et en comptant les ingrédients, la bonne bouteille, les jolies serviettes en papier, les bougies et les fleurs, vous en avez eu pour ... euros. 
				Voici la base de vos prix suivant les catégories de repas que vous proposez. 
				Maintenant choisissez votre recette, faites vos courses, et puis hop, aux fourneaux!
			  </p>
			</li>
			
		  </ul>
		</li>
		
		<li><a id="2.2"><h3>Visiteurs</h3></a>
		  <ul>
			<li><a id="2.2.1"><h4>J'ai très envie d'aller manger chez Paul, mais je suis allergique aux cacahouètes (ou aux poils de chats, au persil, au gluten, etc). Comment être sûr que je ne risque rien?</h4></a>
			  <p>En créant votre profil, vous avez la possibilité d'indiquer certaines de vos caractéristiques, telles que "sans gluten" (=je mange strictement sans gluten), "sans animaux" si vous êtes allergiques aux poils de chats, chiens etc. Cependant, les êtres humains étant riches et complexes, nous n'avons pas créé de pictos correspondant à chacune des allergies possibles. C'est pourquoi, au moment de votre demande de réservation, il est très important que vous signaliez à votre futur yummyfriend vos allergies alimentaires et/ou non-alimentaires. Vous pouvez aussi en profiter pour signaler les aliments que vous détestez (la cervelle et les tarentules grillées pour moi). On trouve toujours un moyen de remplacer les cacahouètes par des amandes ou la tarentule grillée par une brochette de sauterelles!
			  </p>
			</li>
			
			<li><a id="2.2.2"><h4>Est-ce que je sais ce que je vais manger chez mon yummyfriend?</h4></a>
			  <p>Pour laisser place à la surprise et à l'inspiration du moment, les YummyFriends ne sont pas tenus d'indiquer précisément ce qu'ils vont cuisiner... 
				En revanche, on peut signaler si on cuisine ou mange uniquement végétarien, casher ou hallal par exemple. 
				Si vous ne vous entendez pas bien avec certains aliments, pour cause d'allergie, d'intolérance ou simplement de divergence d'opinion, signalez-le impérativement avant le repas! Ce serait dommage de vous voir gonfler comme une baudruche à cause d'une sauce à l'arachide, ou faire une grimace horrible devant une soupe tripes-flageolets...
			  </p>
			</li>
			
			<li><a id="2.2.3"><h4>J'ai réservé un yummyrepas, dois-je venir avec un petit cadeau?</h4></a>
			  <p>Super, tout s'est bien passé, le repas est réservé!
				Vous avez réglé le montant de votre repas, c'est chouette, vous êtes sûrs qu'il y aura quelque chose dans votre assiette.
				Maintenant, le meilleur cadeau que vous puissiez apporter, c'est un grand sourire et votre bonne humeur... 
			  </p>
			</li>
			
			<li><a id="2.2.4"><h4>Le prix est trop élevé, est-ce que je peux négocier?</h4></a>
			  <p>Chaque YummyFriend fixe librement son prix sur le repas qu'il propose. Pour aider à fixer ce prix, nous avons conçu un petit guide. 
				En général, plus le prix est élevé, plus la qualité des ingrédients, de la préparation, de la présentation sera élevée de même. 
				Vous pouvez bien sûr demander les raisons du prix indiqué. Mais si ce prix vous semble abusif à priori, nous vous conseillons plutôt de choisir un autre YummyFriend.
				Le but est que vous vous sentiez en confiance pour passer le meilleur moment possible!
			  </p>
			</li>
			
			<li><a id="2.2.5"><h4>Le yummyrepas a eu lieu et je suis déçu. Que faire?</h4></a>
			  <p>Nous vous conseillons d'abord d'en parler, autant que possible, sur le moment, avec votre YummyFriend.
				Est-ce dû au lieu, à l'ambiance, la nourriture, la musique...?
				Ensuite, contactez-nous pour nous le signaler. Expliquez nous le mieux possible les raisons de votre déception.
				Enfin, YummyGuest.com met à votre disposition un système d'entre-évaluation: Vous pouvez noter votre YummyFriend, et lui de même. Partagez votre expérience de cette manière, afin d'aider les autre YummyFriends à faire leur choix!
			  </p>
			</li>
			
			<li><a id="2.2.6"><h4>J'ai réservé mon repas, mais personne ne s'est présenté au rendez-vous et le dîner n'a pas eu lieu... Je fais quoi?</h4></a>
			  <p>La première chose à faire, c'est de nous contacter! Envoyez nous un mail au plus vite à hello@yummyguest.fr .
				Après vérification auprès de votre YummyFriend indélicat, le montant de votre repas vous sera intégralement remboursé. 
				Le YummyFriend qui vous a posé un lapin verra sa note dégradée, et nous ferons de notre mieux pour que votre prochaine expérience chez yummyguest.com soit la meilleure possible!
			  </p>
			</li>
		  </ul>
		</li>
	  </ol>
	</li>
  </ol>
</div>
