<h1>Informations légales</h1>
<div class="content legalese">
<h2>YummYGuest.com</h2>

<h3>Editeur</h3>
<p>YummYGuest.com
Société hébergé par Couveuse GEAI, association de Loi 1901 – Code APE 911
RCS Paris n° SIRET 433 545 357 00025
Siège social : 18, rue du Faubourg du Temple, 75011 Paris
Pour nous contacter : hello@yummyguest.com
</p>
<h3>Directeur de la publication</h3>
<p>Madame Juliette Le Moine, Président Directeur Général
</p>
<h3>Hébergeur</h3>
<p>OVH SAS
Siège social : 2 rue Kellermann 59100 Roubaix - France
Code APE 6202A - N° TVA : FR 22 424 761 419
RCS Roubaix – Tourcoing 424 761 419 000 45
SAS au capital de 10 000 000 €
</p>
<h3>Création site internet</h3>
<p>Monsieur Gwenhael Le Moine
</p>
<h3>Studio de graphisme</h3>
<p>T1 | William Jean
www.williamjean.com
</p>
<h3>INFORMATIQUE ET LIBERTES</h3>
<p>Le Site www.yummyguest.com est déclaré sous le numéro 1634081 auprès de la Commission 
Nationale Informatique et Libertés (CNIL) en application de la loi n°78-17 du 6 janvier 1978 
relative à l'informatique, aux fichiers et aux libertés. Chaque internaute ayant déposé des 
informations nominatives le concernant sur le Site dispose des droits d'opposition (article 38 
de la loi), d'accès (articles 39, 41 et 42 de la loi) et de rectification (article 40 de la loi) de 
ces données. Ainsi, il peut exiger que soient rectifiées, complétées, clarifiées, mises à jour ou 
effacées les informations le concernant qui sont inexactes, incomplètes, équivoques, périmées, 
ou dont la collecte ou l'utilisation, la communication ou la conservation est interdite. Chaque 
internaute peut exercer ces droits en écrivant à hello@yummyguest.com ou à <em>YummYGuest, 
10 rue d’Alger, Paris 75001</em>.
</p>
</div>