<h1>Partenaires</h1>
<div class="content partners">
<h2><a href="http://foodrevolutionday.com/">Food Revolution Day</a></h2>
<img src="img/partners/food-revolution-day.jpg" alt="Food Revolution Day">
<p>
  Jamie Oliver, chef engagé dans l'éducation au goût et au plaisir du repas, a créé cette journée afin d'ouvrir tout un chacun à la joie de bien se nourrir. Le 17 mai est devenu une journée d'actions à travers le monde consacrées à la confection, au partage, et à la découverte de bonnes choses. En mai 2013, YUMMYGUEST.COM s'est associé à Lolypopkitchen pour proposer une initiation exquise à la cuisine végétale. Facile, bon marché, délicieuse et bien plus amusante qu'on pourrait se l'imaginer.</p>

<h2><a href="http://lolypopkitchen.overblog.com/">LolypopKitchen</a></h2>
<img src="img/partners/lolykitchen.jpg" alt="LolypopKitchen">
<p>
  Loly est une charmeuse de papilles. La toute première YummyFriend à accueillir à sa table via YUMMYGUEST.COM , elle pratique la cuisine végétale. Une cuisine inventive et joyeusement saine. Séduite par son expérience chez YUMMYGUEST.COM elle a bien grandi et est en train de mettre sur pied une offre plus professionnelle afin que tout le monde puisse profiter de ses trésors comestibles.
</p>

<h2><a href="http://www.parisparapluie.com/">Paris Parapluie</a></h2>
<img src="img/partners/paris-parapluie.jpg" alt="Paris Parapluie">
<p>
  Paris Parapluie propose des séjours parisiens adaptés précisément aux besoins, demandes, envies de sa clientèle principalement anglophone et germanophone. Un séjour en famille où les enfants sont aussi ravis que les parents, un week-end insolite pour une demande en mariage unique, quelques jours à thème pour un angle de vue décoiffant... YUMMYGUEST.COM propose une sélection de YummyFriends sur mesure pour Paris Parapluie, en s'inspirant des demandes spécifiques de leurs clients.
</p>
<p>https://www.facebook.com/ParisParapluie</p>

<h2>Tartines en Seine</h2>
<img src="img/partners/tartine-en-seine.jpg" alt="Tartines en Seine">
<h3>La plus ébouriffantes des propositions culinaires "street food" de Paris!</h3>
<p>
  Tartines en Seine rassasie le chaland grâce à son vélo-cuisine. Vous le trouverez tous les jours de plus ou moins beau temps au bord de la Seine, dans le square de l'hôtel de ville. Ses horaires sont les mêmes que celles du soleil, et ses tartines tombent toujours à point pour redonner des forces aux amoureux romantiques, aux travailleurs en mal de sérénité, aux touristes émerveillés. YUMMYGUEST.COM aime tellement ce vélo que l'équipe descend s'y sustenter dès qu'un bol d'air frais s'impose.
</p>

<h2>WithLove-AllergenFree</h2>
<img src="img/partners/withlove.jpg" alt="WithLove-AllergenFree">
<p>
  WithLove-AllergenFree est un mouvement culinaire ouvert à tous, s’adressant à toute personne concernée de près ou de loin par l’intolérance alimentaire, ainsi qu’à tous les amoureux et passionnés de cuisine qui souhaitent découvrir l’art de cuisiner et de manger sans allergène. YUMMYGUEST.COM propose aussi des repas chez des YummyFriends concernés par les allergies alimentaires ou simplement des curieux d'une cuisine différente. Ensemble, WithLove (de son petit nom) et Yummyguest.com projettent d'ouvrir et d'agrandir cette communauté de faiseurs et d'amateurs de cuisine consciente.
</p>
</div>
