<h1>On parle de nous</h1>
<div class="content press">

  <h2>Web</h2>
  <p>
	<h3><a target="_blank" href="http://fr.wikipedia.org/wiki/Consommation_collaborative">wikipedia</a></h3>
	<em>article "consommation collaborative"</em>
	<blockquote>
	  La consommation collaborative désigne un modèle économique où l'usage prédomine sur la propriété :
	  l'usage d'un bien, service, privilège, peut être augmenté par le partage, l'échange, le troc, la vente ou la location de celui-ci.
	  (...)
	  Les styles de vie collaboratifs regroupent les formules de partage de ressources immatérielles entre particuliers : espace, temps, argent, compétences. Couchsurfing, Colunching, Coworking, Cohabitat, Prêt entre particuliers, Achat groupé, Cohébergement, repas chez l'habitant (Beyond Croissant, YUMMYGUEST.com ) feraient ainsi partie de cette catégorie.
	</blockquote>
  </p>

  <p>
	<h3><a target="_blank" href="http://www.lapetitepieceembuee.com/food-revolution-lovely-day-2013-debriefing/">la petite pièce embuée</a></h3>
	<em>21 mai 2013</em>
	<blockquote>
	  "La journée de samedi fût également plus que remplie. La dégustation des gourmandises végétales de Yummyguest + Lolypopkitchen ont fait leur effet ! "
	</blockquote>
  </p>

  <p>
	<h3><a target="_blank" href="http://lolypopkitchen.overblog.com/lolypop-kitchen-et-yummyguest-a-la-food-revolution-day">lolypopkitchen blog</a></h3>
	<em>15 mai 2013</em>
  </p>


  <p>
	<h3><a target="_blank" href="http://www.lapetitepieceembuee.com/food-revolution-day-last-but-not-least/">la petite pièce embuée</a></h3>
	<em>14 mai 2013</em>
	<blockquote>
	  "La gourmandise étant un bon moyen de rassembler et partager, le but de Yummyguest est de faire se rencontrer des cultures, de s’intéresser à l’Autre tout en bénéficiant des différentes cuisines et habitudes de chacun : ainsi être Végétarien, « GlutenFree », mangeur de Tout Cru ou autre n’est plus un obstacle, tout le monde a droit à sa particularité ! Comme ils le disent si bien, vous serez chez vous partout "
	</blockquote>
  </p>

  <p>
	<h3><a target="_blank" href="http://www.maddyness.com/startup/2013/01/25/yummyguest-buybox-allocadeau-lebusinessplan/">maddyness</a></h3>
	<em>25 janvier 2013</em>
	<blockquote>
	  "Né en France au début de l’année 2012 dans le livre de recettes de Juliette, grande voyageuse, gourmande et curieuse du monde, le site YummyGuest a été lancé début novembre 2012. La plate-forme propose de manière conviviale et simple d’utilisation, de réserver un repas"
	</blockquote>
  </p>

  <p>
	<h3><a target="_blank" href="http://www.quiseralechef.com/">qui sera le chef</a></h3>
	<em>décembre 2012</em>
	<blockquote>
	  "Pour déguster les plats de la cuisine amateur, garantis 100% maison, il faudra donc désormais vous tourner vers :
	  <br>
	  Amis gourmands, amis cuisiniers, ne manquez pas également le lancement en 2013 de :
	  <br>
      Yummy Guest : http://yummyguest.com/ "
	</blockquote>
  </p>

  <p>
	<h3><a target="_blank" href="http://frenchweb.fr/best-of-2012-web-les-5-tendances-majeures-de-annee/92288">frenchweb</a></h3>
	<em>19 décembre 2012</em>
	<blockquote>
	  "Blablacar, Airbnb, HouseTrip, Cookening, Yummyguest, SnapGoods ou encore Getaround, Youpijob et Taskrabbit…. De plus en plus de services ont surfé cette année sur la vague de la consommation collaborative."
	</blockquote>
  </p>

  <p>
	<h3><a target="_blank" href="http://lefilpresse.wordpress.com/2012/11/26/ce-soir-jirai-diner-chez-vous/">le fil presse</a></h3>
	<em>26 novembre 2012</em>
	<blockquote>
	  "Même si l’on vient souvent dans un pays, il manque toujours quelque chose pour avoir le sentiment de le connaître en profondeur : entrer dans les familles, chez l’habitant. « L’autre » reste mystérieux alors que c’est lui qu’on est venu voir. « Le sésame pour découvrir un pays, c’est d’être invité dans les familles », estime Juliette Le Moine, 36 ans, co-fondatrice de Yummyguest, un site qui met en relation les gens aimant cuisiner et inviter des personnes gourmandes venues d’horizons différents."
	</blockquote>
  </p>

  <p>
	<h3><a target="_blank" href="http://frenchweb.fr/les-3-derniers-sites-a-decouvrir-13/87225">frenchweb</a></h3>
	<em>16 novembre 2012</em>
	<blockquote>
	  "Beyond Croissant et YummyGuest connectent leurs communautés autour de la table…. L’usine à lunettes, elle aussi, veut casser le prix des lunettes en ligne …. ResumUp : votre CV en une infographie grâce aux réseaux sociaux…. Zoom sur trois nouveaux sites"
	</blockquote>
  </p>


  <h2>Presse écrite</h2>
  <p><h3>Parution dans <em>Glamour</em>, n°111, juin 2013.</h3>
	Article "Sur la piste des travellers chics"<br>
	Les 3 commandements du néo-traveller:<br>
	1. Pratiquer le FOOD SURFING!<br>
	<img src="img/press.fr/YG_parutionspresse_mai2013_GLAMOUR_couv.jpg"/>
	<img src="img/press.fr/YG_parutionspresse_mai2013_GLAMOUR.jpg"/>
  </p>
  <p><h3><em>BIBA</em>, n°397, mars 2013</h3>
	Rubrique C'est dans l'air / Article Du soleil, vite!<br>
	100 idées bonne humeur!
	<img src="img/press.fr/YG_parutionspresse_mars2013_BIBA_couv.jpg"/>
	<img src="img/press.fr/yg_press_biba_mars2013.jpg"/>
</div>
